body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

iframe {
    width: 350px;
    height: 250px;
}